**/node_modules
.nuxt/
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example

bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
.vs/
.vscode/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/
*.pidb
*.svclog
*.scc

.DS_Store
Thumbs.db
*.swp
*.swo